:root {
  --primary: #ece5c7;
  --secondary: #cdc2ae;
  --tertiary: #c2dedc;
  --quarternary: #116a7b;
}

.d-flex {
  display: flex;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start
} 

.margin-right {
  margin-right: 5px;
} 

.margin-top { 
  margin-top: 8px;
}

.quarternary-background {
  background-color: var(--quarternary);
}

/* Center the logo */
.App-logo {
  height: 10vh;
  margin-right: 40%;
  margin-left: 40%;
}

@media (max-width: 768px) {
  .App-logo {
    min-height: 8vh;
    margin-left: 11.22%;
  }
}
header {
  background-color: var(--quarternary);
  width: 1000vw;
}
