:root {
  --primary: #ece5c7;
  --secondary: #cdc2ae;
  --tertiary: #c2dedc;
  --quarternary: #116a7b;
}

.background {
  background-color: var(--quarternary);
}

.font-primary {
  font-family: "Arial", monospace;
  color: black;
}
