:root {
  --primary: #ece5c7;
  --secondary: #cdc2ae;
  --tertiary: #c2dedc;
  --quarternary: #116a7b;
}

.background {
  background-color: var(--quarternary);
}

.font-primary {
  font-family: "Arial", monospace;
  color: black;
}

.editingCard {
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10%;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
